.map-container {
  margin-left: auto;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  position: absolute;
}

.mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-ctrl-group button.mapboxgl-ctrl-compass{
  cursor: default;
}
